<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="admin.Properties.Settings.starwarsConnectionString"
            connectionString="Data Source=130.237.226.220;Initial Catalog=starwars;User ID=charizard;Password=polka123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>